@import "/assets/css/gruvbox-dark.css";
/* theme overrides/extensions */
.highlight {
	border-radius: 2px;
}
/* end overrides */

html {
	/* background: #282828; */
	max-width: 800px;
	margin: 0 auto;
}

* {
	font-family: Liberation Mono, monospace;
	font-size: 18px;
}

h1, h2, h3 {
	text-transform: uppercase;
	* {
		font-size: 1em;
	}
}

h1 {
	font-size: 1.5rem;
	border-bottom: 1px #000 dotted;
}

h2 {
	font-size: 1.3rem;
	border-bottom: 1px #0006 dotted;
}

h3 {
	font-size: 1.1rem;
	text-decoration: underline 1px dotted;
}

nav {
	text-align: center;
}

a {
	color: blue;
	text-underline-position:
}
a:visited {
	color: blue;
}
a:hover {
	color: cornflowerblue;
}

ul {
	list-style-type: square;
	padding-left: 1rem;
}

img {
	max-width: 100%;
}

pre {
	padding: 8px;
}

.title {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0;
	border: 0;
}
.title a {
	color: inherit;
	text-decoration: none;
	font-size: 1.5rem;
}

.sidenote {
	float: right;
	text-align: center;
	padding: 0.5rem;
	margin: 0.5rem;
	font-style: italic;
	max-width: 40%;
}
@media (max-width: 600px) {
	.sidenote {
		float: none;
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.sidenote * {
	font-size: 0.8rem;
	margin-bottom: 0;
}

.current-section {
	font-weight: bold;
}

.contacts {
	display: flex;
	justify-content: space-around;
}
.contact {
	text-decoration: none;
}
.contact-title {
	text-decoration: underline;
}
.contact-info {
	font-weight: bold;
}

.post-list {
	list-style-type: none;
	padding: 0;
}
.posts {
	display: flex;
	justify-content: center;
}

.underheading {
	margin-top: -0.6rem;
	/* font-size: 0.8rem; */
	font-style: italic;
}
