
html {
	/* background: #282828; */
	max-width: 900px;
	margin: 0 auto;
}

* {
	font-family: Liberation Mono, monospace;
	font-size: 18px;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	border-bottom: 1px #000 solid;
	font-size: 1.5rem;
}

nav {
	text-align: center;
}

a {
	color: blue;
	text-underline-position:
}
a:visited {
	color: blue;
}
a:hover {
	color: cornflowerblue;
}

body {
	margin: 5%;
}

ul {
	list-style-type: none;
	padding: 0;
}

img {
	max-width: 100%;
}

.title {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0;
	border: 0;
}
.title a {
	color: inherit;
	text-decoration: none;
	font-size: 1.5rem;
}

.sidenote {
	float: right;
	text-align: center;
	padding: 0.5rem;
	margin: 0.5rem;
	font-style: italic;
	max-width: 40%;
}
@media (max-width: 600px) {
	.sidenote {
		float: none;
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.sidenote * {
	font-size: 0.8rem;
	margin-bottom: 0;
}

.current-section {
	font-weight: bold;
}

.contacts {
	display: flex;
	justify-content: space-around;
}
.contact {
	text-decoration: none;
}
.contact-title {
	text-decoration: underline;
}
.contact-info {
	font-weight: bold;
}

.posts {
	display: flex;
	justify-content: center;
}
