---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/gif" href="/assets/images/exblackwater_-_1627372375158456320.gif">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <title>Noah Magcalas's Website</title>
</head>

<body>
  <h1 class="title"><a href="/">NOAH'S WEBSITE</a></h1>
  {% include navigation.html %}

  {{ content }}

  <script type="text/javascript" src="/assets/js/lightbox.js"></script>
  <link rel="stylesheet" href="/assets/css/lightbox.css">
</body>

</html>
